body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f9e3e3;
  display: flex;
  justify-content: center;
}

h1 {
  color: #d32f2f;
}

.main__container {
  width: 80%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;
  }
}
